*{
    margin: 0;
    padding: 0;
}
header a{
    text-decoration: none;
}
.home{
    color: rgb(34, 32, 46);
font-family: Clash Display;
font-size: 24px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
text-decoration: none;
}
.menu{
    display: none;
}
.head1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 28px;
}
header hr{
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 1386px;
    margin-left: 28px;
}
.user{
    margin-left: 16px;
}
nav{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
header ul{
    display: flex;
    list-style: none;
}
header li{
    margin-right: 44px;
    color: rgb(114, 110, 141);
font-family: Satoshi;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}
.Cutlery{
    margin: 0;
}
.luxury_resp{
    display: none;
}
.luxury h1{
    color: rgb(34, 32, 46);
font-family: Clash Display;
font-size: 32px;
font-weight: 400;
line-height: 140%;
letter-spacing: 0%;
text-align: left;
margin-top: 48px;
margin-left: 56px;
}
.luxury_main{
    color: rgb(91, 86, 118);
font-family: Satoshi;
font-size: 18px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
margin-top: 20px;
margin-left: 56px;
margin-bottom: 157px;
}
.section1 img{
    display: none;
}
.section1{
    background: url(../image/luxury_homeware.jpg);
    position: relative;
    background-size: cover;
    background-position: center;
    height: 704px;
}
.luxury{
    position: absolute;
    background-color: white;
    width: 630px;
    height: 444px;
    right: 80px;
    top: 130px;
}
.luxury a{
    color: rgb(42, 37, 75);
font-family: Satoshi;
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
text-decoration: none;
padding: 16px 32px;
background: rgb(249, 249, 249);
margin-left: 56px;
}
.feature_card{
    background: rgb(249, 249, 249);
    padding: 48px;
}
.features2{
    display: flex;
    justify-content: space-around;
    margin: 0 80px;
}
.feat_main{
    color: rgb(42, 37, 75);
font-family: Clash Display;
font-size: 20px;
font-weight: 400;
line-height: 140%;
letter-spacing: 0%;
text-align: left;
width: 199px;
}
.feat_desc{
    color: rgb(42, 37, 75);
font-family: Satoshi;
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
width: 209px;
}
.feat_head{
    color: rgb(42, 37, 75);
font-family: Clash Display;
font-size: 24px;
font-weight: 400;
line-height: 140%;
letter-spacing: 0%;
text-align: left;
margin-top: 80px;
text-align: center;
margin-bottom: 36px;
}
.section3 img{
    height: 375px;
    margin-right: 20px;
}
.cards{
    display: flex;
    margin-bottom: 48px;
}
.section3{
    padding: 110px  80px 0 80px;
}
.name{
    color: rgb(42, 37, 75);
font-family: Clash Display;
font-size: 20px;
font-weight: 400;
line-height: 140%;
letter-spacing: 0%;
text-align: left;
}
.price{
    color: rgb(42, 37, 75);
font-family: Satoshi;
font-size: 18px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
}
.section3 a{
    color: rgb(42, 37, 75);
font-family: Satoshi;
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
text-decoration: none;
background: rgb(249, 249, 249);
padding: 16px 32px;
margin-left: 555px;
}
.section4{
    padding: 100px 80px 60px;
    display: flex;
}
.sec4_1{
    background: rgb(42, 37, 75);
    width: 634px;
    height: 360px;
    padding: 64px 64px 54px;
}
.sec4_1 h2{
    color: rgb(255, 255, 255);
font-family: Clash Display;
font-size: 32px;
font-weight: 400;
line-height: 39px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 12px;
}
.sec4_1 p{
    color: rgb(255, 255, 255);
font-family: Satoshi;
font-size: 18px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 205px;
}
.sec4_1 a{
    color: rgb(255, 255, 255);
font-family: Satoshi;
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
text-decoration: none;
background: rgba(249, 249, 249, 0.15);
padding: 16px 32px;
}
.sec4_2 img{
    height: 478px;
    margin-left: 16px;
}
.section5{
    background: url(../image/join_club_bg.jpg);
    background-size: cover;
    background-position: center;
    height: 444px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.club_info h2{
    color: rgb(255, 255, 255);
font-family: Clash Display;
font-size: 32px;
font-weight: 400;
line-height: 140%;
letter-spacing: 0%;
text-align: center;
}
.club_info p{
    color: rgb(255, 255, 255);
font-family: Satoshi;
font-size: 18px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
}
.club_info li{
    color: rgb(255, 255, 255);
font-family: Satoshi;
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
margin-right: 52px;
}
.club_info ul{
    display: flex;
    list-style-image: url(../image/check_club.svg);
    justify-content: center;
    margin-top: 30px;
}
.sign_input{
    display: flex;
    margin-top: 40px;
    
}
.sign_input input[type="email"]::placeholder{
    color: rgb(42, 37, 75);
font-family: Satoshi;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
opacity: 0.2;
width: 117px;
}
.sign_input input{
    border: none;
    background: rgb(249, 249, 249);
    height: 60px;
    width: 354px;
    margin: 0;
    padding: 0px 32px;
}
.sign_input button{
    background: rgb(42, 37, 75);
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-family: Satoshi;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: center;
        padding: 16px 32px;
        margin: 0;
}





footer{
    background: rgb(42, 37, 75);
    
}
.footer{
    width: 100%;
    display: flex;
}


#copyright{
    background: rgb(42, 37, 75);
    color: rgb(255, 255, 255);
font-family: Satoshi;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
padding-left: 80px;
padding-bottom: 20px;
    padding-top: 16.5px;
text-align: left;
}
#foot_hr{
    border: 1px solid rgb(78, 77, 147);
    width: 1277px;
    margin-left: 80px;
    margin-top: 35.5px;
}

.new_arrivals{
    margin-right: 109px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}
.new_arrivals h2{
    color: rgb(255, 255, 255);
font-family: Clash Display;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.new_arrivals a{
    color: rgb(255, 255, 255);
font-family: Satoshi;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
margin-top: 12px;
text-decoration: none;
}
.our_company{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}
.our_company h2{
    color: rgb(255, 255, 255);
font-family: Clash Display;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.our_company a{
    color: rgb(255, 255, 255);
font-family: Satoshi;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration: none;
margin-top: 12px;
}
.categories{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    margin-right: 135px;
}
.categories h2{
    color: rgb(255, 255, 255);
font-family: Clash Display;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.categories a{
    color: rgb(255, 255, 255);
font-family: Satoshi;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
margin-top: 12px;
text-decoration: none;
}
.foot2{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 82px;
    padding-top: 58px;
}
.mail_input{
    margin-left: 109px;
    margin-top: 58px;
}
.mail_input input[type="email"]::placeholder{
    color: rgb(255, 255, 255);
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
.mail_input input{
    padding: 22.5px 308px 22.5px 32px;
    background: rgba(255, 255, 255, 0.15);
    border: none;
}
.mail_input p{
    color: rgb(255, 255, 255);
font-family: Clash Display;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 16px;
}
.mail_input button{
    color: rgb(42, 37, 75);
font-family: Satoshi;
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
padding: 16px 32px;
border: none;
}
.mail_input2{
    display: flex;
}
.foot1{
    display: flex;
    flex-direction: row-reverse;
}
.foot_icons{
    display: flex;
    align-items: center;
    margin-right: 83px;
}
.foot_icons img{
    margin-left: 24px;
}
.foot{
    display: flex;
    justify-content: space-between;
}