*{
    margin: 0;
    padding: 0;
}
header a{
    text-decoration: none;
}
.home{
    color: rgb(34, 32, 46);
font-family: Clash Display;
font-size: 24px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
text-decoration: none;
}
.menu{
    display: none;
}
.head1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 28px;
}
header hr{
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 1386px;
    margin-left: 28px;
}
.user{
    margin-left: 16px;
}
nav{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
header ul{
    display: flex;
    list-style: none;
}
header li{
    margin-right: 44px;
    color: rgb(114, 110, 141);
font-family: Satoshi;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}
.Cutlery{
    margin: 0;
}
.luxury_resp{
    display: none;
}
.luxury h1{
    color: rgb(34, 32, 46);
font-family: Clash Display;
font-size: 32px;
font-weight: 400;
line-height: 140%;
letter-spacing: 0%;
text-align: left;
margin-top: 48px;
margin-left: 56px;
}
.luxury_main{
    color: rgb(91, 86, 118);
font-family: Satoshi;
font-size: 18px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
margin-top: 20px;
margin-left: 56px;
margin-bottom: 157px;
}
.section1 img{
    display: none;
}
.section1{
    background: url(../image/luxury_web.svg);
    position: relative;
    background-size: cover;
    background-position: center;
    height: 704px;
}
.luxury{
    position: absolute;
    background-color: white;
    width: 630px;
    height: 444px;
    right: 80px;
    top: 130px;
}
.luxury a{
    color: rgb(42, 37, 75);
font-family: Satoshi;
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
text-decoration: none;
padding: 16px 32px;
background: rgb(249, 249, 249);
margin-left: 56px;
}