*{
    margin: 0;
    padding: 0;
}
header a{
    text-decoration: none;
}
.home{
    color: rgb(34, 32, 46);
font-family: Clash Display;
font-size: 24px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
text-decoration: none;
}
.menu{
    display: none;
}
.head1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 28px;
}
header hr{
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 1386px;
    margin-left: 28px;
}
.user{
    margin-left: 16px;
}
nav{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
header ul{
    display: flex;
    list-style: none;
}
header li{
    margin-right: 44px;
    color: rgb(114, 110, 141);
font-family: Satoshi;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}
.Cutlery{
    margin: 0;
}
.all_products{
    background:url(../image/product_photo2.jpg);
    background-position: center;
    height: 209px;
}
.all_products h1{
    color: rgb(255, 255, 255);
font-family: Clash Display;
font-size: 36px;
font-weight: 400;
line-height: 140%;
letter-spacing: 0%;
text-align: left;
padding: 123px 80px 36px;
}
.drops1 button{
    display: flex;
    background: rgb(255, 255, 255);
    border: none;
    align-items: center;
    margin-right: 60px;
}
.dropdowns p{
    color: rgb(42, 37, 75);
font-family: Satoshi;
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
}
nav ul a{
    color: rgb(114, 110, 141);
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
}
.drops1{
    display: flex;
}
.all_cards{
    padding: 20px 48px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.drops2 button{
    display: flex;
    background: rgb(255, 255, 255);
    border: none;
    align-items: center;
}
.drops2{
    display: flex;
}
.drops2 h4{
    color: rgb(42, 37, 75);
font-family: Satoshi;
font-size: 14px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
margin-right: 40px;
}
.dropdowns{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.drops1 button img{
    margin-left: 8px;
}
.drops2 button img{
    margin-left: 8px;
}
.drops_res{
    display: none;
}
.card img{
    width: 305px;
}
.card h2{
    color: rgb(42, 37, 75);
font-family: Clash Display;
font-size: 20px;
font-weight: 400;
line-height: 140%;
letter-spacing: 0%;
text-align: left;
}
.card p{
    color: rgb(42, 37, 75);
font-family: Satoshi;
font-size: 18px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 48px;
    padding: 0 16px 0 32px;
    width: 100%;
}
.all_cards a{
    color: rgb(42, 37, 75);
font-family: Satoshi;
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
text-decoration: none;
padding: 16px 32px;
background: rgb(249, 249, 249);
margin-top: 48px;
}
footer{
    background: rgb(42, 37, 75);
    
}
.footer{
    width: 100%;
    display: flex;
}


#copyright{
    background: rgb(42, 37, 75);
    color: rgb(255, 255, 255);
font-family: Satoshi;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
padding-left: 80px;
padding-bottom: 20px;
    padding-top: 16.5px;
text-align: left;
}
#foot_hr{
    border: 1px solid rgb(78, 77, 147);
    width: 1277px;
    margin-left: 80px;
    margin-top: 35.5px;
}

.new_arrivals{
    margin-right: 109px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}
.new_arrivals h2{
    color: rgb(255, 255, 255);
font-family: Clash Display;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.new_arrivals a{
    color: rgb(255, 255, 255);
font-family: Satoshi;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
margin-top: 12px;
text-decoration: none;
}
.our_company{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}
.our_company h2{
    color: rgb(255, 255, 255);
font-family: Clash Display;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.our_company a{
    color: rgb(255, 255, 255);
font-family: Satoshi;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration: none;
margin-top: 12px;
}
.categories{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    margin-right: 135px;
}
.categories h2{
    color: rgb(255, 255, 255);
font-family: Clash Display;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.categories a{
    color: rgb(255, 255, 255);
font-family: Satoshi;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
margin-top: 12px;
text-decoration: none;
}
.foot2{
    display: flex;
    flex-direction: row-reverse;
    margin-left: 82px;
    padding-top: 58px;
}
.mail_input{
    margin-left: 109px;
    margin-top: 58px;
}
.mail_input input[type="email"]::placeholder{
    color: rgb(255, 255, 255);
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
.mail_input input{
    padding: 22.5px 308px 22.5px 32px;
    background: rgba(255, 255, 255, 0.15);
    border: none;
}
.mail_input p{
    color: rgb(255, 255, 255);
font-family: Clash Display;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 16px;
}
.mail_input button{
    color: rgb(42, 37, 75);
font-family: Satoshi;
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
padding: 16px 32px;
border: none;
}
.mail_input2{
    display: flex;
}
.foot1{
    display: flex;
    flex-direction: row-reverse;
}
.foot_icons{
    display: flex;
    align-items: center;
    margin-right: 83px;
}
.foot_icons img{
    margin-left: 24px;
}
.foot{
    display: flex;
    justify-content: space-between;
}