@media screen and (max-width:390px) {
    nav{
        display: none;
    }
    .head1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 0;
    }
    .search{
        position: absolute;
        right: 56px;
    }
    .menu{
        display: block;
        margin-right: 20px;
    }
    .user{
        display: none;
    }
    .cart{
        display: none;
    }
    .head_icons{
        margin: 0;
        display: flex;
    }
    .home{
        margin: 20px 24px;
    }
    header hr{
        display: none;
    }
    .luxury_main{
        display: none;
    }
    .luxury_resp{
        display: block;
        color: rgb(42, 37, 75);
        font-family: Satoshi;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 32px;
    }
    .luxury h1{
        color: rgb(42, 37, 75);
        font-family: Clash Display;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: left;
        margin: 0;
        position:;
    }
    .section1 img{
        display: block;
    }
    .section1{
        background: none;
    }
    .luxury{
        position: static;
        height: 256px;
        width: 341px;
        padding: 47px 24px 32px 24px;
    }
    .luxury a{
        margin: 0;
        padding: 16px 115.5px;
    }
}