@media screen and (max-width:390px) {
    nav{
        display: none;
    }
    .head1{
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
        padding: 0;
    }
    .search{
        position: absolute;
        right: 56px;
    }
    .menu{
        display: block;
        margin-right: 20px;
    }
    .user{
        display: none;
    }
    .cart{
        display: none;
    }
    .head_icons{
        margin: 0;
        display: flex;
    }
    .home{
        margin: 20px 24px;
    }
    header hr{
        display: none;
    }
    .luxury_main{
        display: none;
    }
    .luxury_resp{
        display: block;
        color: rgb(42, 37, 75);
        font-family: Satoshi;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 32px;
    }
    .luxury h1{
        color: rgb(42, 37, 75);
        font-family: Clash Display;
        font-size: 24px;
        font-weight: 400;
        line-height: 30px;
        letter-spacing: 0%;
        text-align: left;
        margin: 0;
    }
    .section1 img{
        display: block;
    }
    .section1{
        background: none;
        height: 639px;
    }
    
    .luxury{
        position: static;
        height: 256px;
        width: 341px;
        padding: 47px 24px 32px 24px;
    }
    .luxury a{
        margin: 0;
        padding: 16px 115.5px;
    }
    .features{
        margin: 38px 24px 0px;
        
    }
    .features2{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .feat_head{
        color: rgb(42, 37, 75);
        font-family: Clash Display;
        font-size: 20px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
        width: 274px;
        margin-top: 48px;
    }
    .feat_main{
        color: rgb(42, 37, 75);
        font-family: Clash Display;
        font-size: 20px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
    }
    .feat_desc{
        color: rgb(42, 37, 75);
        font-family: Satoshi;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: left;
    }
    .feature_card{
        background: rgb(249, 249, 249);
        padding: 24px 36px;
        margin-bottom: 26px;
    }
    .card2 img{
        height: 201px;
        margin-right: 0px;
    }
    .card2{
        margin-right: 9px;
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
    }
    .section3{
        padding: 50px 24px 0 24px;
    }
    .section3 a{
        width: 342px;
        margin: 0;
        padding: 16px 118px;
    }
    .section4{
        padding: 60px 24px 32px;
        flex-direction: column;
    }
    .sec4_1{
        width: 278px;
        height: 215px;
        margin: 0;
        padding: 36px 32px 30px ;
        margin-bottom: 24px;
    }
    .sec4_1 h2{
        color: rgb(255, 255, 255);
        font-family: Clash Display;
        font-size: 20px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
    }
    .sec4_1 p{
        color: rgb(255, 255, 255);
        font-family: Satoshi;
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: left;
        margin: 0;
        margin-bottom: 72px;
    }
    .sec4_1 a{
        padding: 16px 86px;
    }
    .sec4_2 img{
        width: 342px;
        height: 259px;
        margin: 0;
    }
    .section5{
        background: url(../image/club_image_responsive.png);
        background-size: cover;
        background-position: center;
        height: 300px;
        padding: 24px 24px 32px;
    }
    .club_info ul{
        list-style-image: url(../image/check_club.svg);
        margin-left: 20px;
    }
    .club_info h2{
        color: rgb(255, 255, 255);
        font-family: Clash Display;
        font-size: 24px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 12px;
    }
    .club_info p{
        color: rgb(255, 255, 255);
        font-family: Satoshi;
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 20px;
    }
    .club_info li{
        color: rgb(255, 255, 255);
        font-family: Satoshi;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 8px;
    }
    .club_info{
        display: block;
        margin-bottom: 28px;
    }
    .sign_input{
        display: flex;
        padding: 0;

    }
    .sign_input input{
        padding: 17px 0px 17px 32px;
        background: rgb(249, 249, 249);
        border: none;
        height: 60px;
        width: 224px;
        padding: 0;
        padding-left: 32px;
    }
    .sign_input input[type=email]::placeholder{
        color: rgb(42, 37, 75);
        font-family: Satoshi;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        letter-spacing: 0%;
        text-align: left;
        opacity: 0.2;
    }
    .sign_input button{
        background: rgb(42, 37, 75);
        color: rgb(255, 255, 255);
        font-family: Satoshi;
        font-size: 16px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: 0%;
        text-align: center;
        width: 118px;
        padding: 16px 0;

    }






    footer{
        background: rgb(42, 37, 75);
    }
    .footer{
        display: flex;
        flex-direction: column;
        width: auto;
        padding: 40px 0px 0px 24px;
    }
    footer h1{
        color: rgb(255, 255, 255);
        font-family: Clash Display;
        font-size: 36px;
        font-weight: 400;
        line-height: 140%;
        letter-spacing: 0%;
        text-align: left;
        margin-top: 40px;
    }
    footer a{
        text-decoration: none;
    }
    #address{
        color: rgb(255, 255, 255);
        font-family: Satoshi;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0%;
        text-align: left;
    }
    .address{
        width: 152px;
        padding: 0;
        margin: 0;
    }
    .social_link{
        margin-left: 29px;
        margin-top: 57px;
    }
    .social_link p{
        color: rgb(255, 255, 255);
        font-family: Clash Display;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: left;
        margin-bottom: 29px;
    }
    .foot1{
        display: flex;
        margin: 0;
        padding: 0;
    }
    .our_company h2{
        color: rgb(255, 255, 255);
        font-family: Clash Display;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: left;
    }
    .our_company{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    .our_company a{
        color: rgb(255, 255, 255);
        font-family: Satoshi;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0%;
        text-align: left;
        text-decoration: none;
        margin-top: 12px;
    }
    .foot2{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 0;
    }
    .new_arrivals{
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 40px;
        margin-bottom: 40px;
    }
    .new_arrivals h2{
        color: rgb(255, 255, 255);
        font-family: Clash Display;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0%;
        text-align: left;
    }
    .new_arrivals a{
        color: rgb(255, 255, 255);
        font-family: Satoshi;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0%;
        text-align: left;
        margin-top: 12px;
    }
    #foot_hr{
        width: 342px;
        border: 1px solid rgb(78, 77, 147);
        
        margin: 39.5px 24px 20.5px;
    }
    #copyright{
        color: rgb(255, 255, 255);
        font-family: Satoshi;
        font-size: 14px;
        font-weight: 400;
        line-height: 19px;
        letter-spacing: 0%;
        padding: 0;
        text-align: center;
        padding-bottom: 20px;
    }
    .cards2{
        display: none;
    }
    .social_icons{
        display: flex;
        flex-direction: column;
    }
    .categories{
        margin: 0;
        margin-left: 96px;
    }
    .icons1{
        display: flex;
    }
    .icons2{
        display: flex;
    }
    .social_icons img{
        margin-bottom: 24px;
    }
    .mail_input{
        margin: 0;
    }   
    #input_mail{
        padding-right: 23px;
    }
    .foot1{
        display: flex;
        flex-direction: column-reverse;
    }
    .foot2{
        padding: 0;
        display: flex;
        
    }
    .foot_icons{
        display: none;
    }
    .foot{
        display: flex;
        justify-content: center;
    }
    
}