*{
    margin: 0;
    padding: 0;
}
header a{
    text-decoration: none;
}
.home{
    color: rgb(34, 32, 46);
font-family: Clash Display;
font-size: 24px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
text-decoration: none;
}
.menu{
    display: none;
}
.head1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 28px;
}
header hr{
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 1386px;
    margin-left: 28px;
}
.user{
    margin-left: 16px;
}
nav{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
header ul{
    display: flex;
    list-style: none;
}
header li{
    margin-right: 44px;
    color: rgb(114, 110, 141);
font-family: Satoshi;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}
.Cutlery{
    margin: 0;
}