*{
    margin: 0;
    padding: 0;
}
header a{
    text-decoration: none;
}
.home{
    color: rgb(34, 32, 46);
font-family: Clash Display;
font-size: 24px;
font-weight: 400;
line-height: 30px;
letter-spacing: 0%;
text-align: center;
text-decoration: none;
}
.menu{
    display: none;
}
.head1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 28px;
    width: 95%;
}
header hr{
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 95%;

}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
nav ul a{
    color: rgb(114, 110, 141);
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
}
.user{
    margin-left: 16px;
}
nav{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
header ul{
    display: flex;
    list-style: none;
}
header li{
    margin-right: 44px;
    color: rgb(114, 110, 141);
font-family: Satoshi;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: left;
}
.Cutlery{
    margin: 0;
}
/* .quantity label{
    color: rgb(42, 37, 75);
font-family: Clash Display;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
} */
.quantity input{
    
    display: flex;
    width: 122px;
    align-items: center;
    border: none;
    padding: 16px 0px;
    background: rgb(249, 249, 249);
    z-index: 0;
    text-align: center;
}
input::-webkit-outer-spin-button,
            input::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
}
input[type="number"]::placeholder{
    text-align: center;
}
.quantity{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 122px;
    
    
}
.quan_btn{
    /* pointer-events: none; */
    padding: 0+5px;
    position: absolute;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100px;

}
.quantity button img{
    height: 22px;
    width: 11px;
}
.quantity button{

    z-index: 1;
    border: none;
        background: transparent;
}
main{
    background: rgb(249, 249, 249);
    padding: 84px 80px;
}
.products{
    background: rgb(255, 255, 255); 
    padding: 72px 62px 54px;
    display: flex;
    flex-direction: column;
    align-items: end;
}
.list{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15.5px;
    width: 100%;
}
.list p{
    color: rgb(42, 37, 75);
font-family: Clash Display;
font-size: 14px;
font-weight: 400;
line-height: 140%;
letter-spacing: 0%;
text-align: left;
}
#quantity{
    margin-left: 50%;
}
.card{
    display: flex;
    margin-bottom: 32px;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.card_in{
    display: flex;
}
.card_text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 12px 24px;
    width: 232px;
}
.card_img{
    width: 109px;
}
.card_text h2{
    color: rgb(42, 37, 75);
font-family: Clash Display;
font-size: 20px;
font-weight: 400;
line-height: 140%;
letter-spacing: 0%;
text-align: left;
}
.card_text p{
    color: rgb(42, 37, 75);
font-family: Satoshi;
font-size: 14px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
}
.card_text h3{
    color: rgb(42, 37, 75);
font-family: Satoshi;
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
}
.quan_tot_p{
    display: flex;
    justify-content: space-between;
    width: 383px;
}
.quan_tot input{
    text-align: center;
}
.quan_tot{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 410px;
}
.total{
    color: rgb(42, 37, 75);
font-family: Satoshi;
font-size: 18px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
}
#after_list{
    border: 1px solid rgb(249, 249, 249);
    margin-bottom: 28.5px;
}
#after_card{
    border: 1px solid rgb(249, 249, 249);
    margin-bottom: 20.5px;
}
.checkout a{
    color: rgb(78, 77, 147);
font-family: Satoshi;
font-size: 14px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: right;
text-decoration: none;
}
.checkout1 p{
    color: rgb(78, 77, 147);
font-family: Clash Display;
font-size: 20px;
font-weight: 400;
line-height: 140%;
letter-spacing: 0%;
text-align: right;
margin-right: 16px;
}
.checkout1 h2{
    color: rgb(42, 37, 75);
font-family: Clash Display;
font-size: 24px;
font-weight: 400;
line-height: 140%;
letter-spacing: 0%;
text-align: right;
}
.checkout{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}
.checkout1{
    display: flex;
    align-items: center;
}
.checkout_button{
    color: rgb(255, 255, 255);
font-family: Satoshi;
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: center;
padding: 16px 0px;
width: 172px;
background: rgb(42, 37, 75);
text-decoration: none;
}
footer{
    background: rgb(42, 37, 75);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer{
    width: 100%;
    display: flex;
}


#copyright{
    background: rgb(42, 37, 75);
    color: rgb(255, 255, 255);
font-family: Satoshi;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
padding-bottom: 20px;
    padding-top: 16.5px;
text-align: left;
}
#foot_hr{
    border: 1px solid rgb(78, 77, 147);
    width: 88.6%;
    
    margin-top: 35.5px;
}

.new_arrivals{
    margin-right: 109px;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}
.new_arrivals h2{
    color: rgb(255, 255, 255);
font-family: Clash Display;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.new_arrivals a{
    color: rgb(255, 255, 255);
font-family: Satoshi;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
margin-top: 12px;
text-decoration: none;
}
.our_company{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}
.our_company h2{
    color: rgb(255, 255, 255);
font-family: Clash Display;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.our_company a{
    color: rgb(255, 255, 255);
font-family: Satoshi;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
text-decoration: none;
margin-top: 12px;
}
.categories{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    margin-right: 135px;
}
.categories h2{
    color: rgb(255, 255, 255);
font-family: Clash Display;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
}
.categories a{
    color: rgb(255, 255, 255);
font-family: Satoshi;
font-size: 14px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
text-align: left;
margin-top: 12px;
text-decoration: none;
}
.foot2{
    display: flex;
    flex-direction: row-reverse;
    
    padding-top: 58px;
}
.mail_input{
    margin-left: 109px;
    margin-top: 58px;
}
.mail_input input[type="email"]::placeholder{
    color: rgb(255, 255, 255);
    font-family: Satoshi;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0%;
    text-align: left;
}
.mail_input input{
    padding: 22.5px 308px 22.5px 32px;
    background: rgba(255, 255, 255, 0.15);
    border: none;
}
.mail_input p{
    color: rgb(255, 255, 255);
font-family: Clash Display;
font-size: 16px;
font-weight: 400;
line-height: 20px;
letter-spacing: 0%;
text-align: left;
margin-bottom: 16px;
}
.mail_input button{
    color: rgb(42, 37, 75);
font-family: Satoshi;
font-size: 16px;
font-weight: 400;
line-height: 150%;
letter-spacing: 0%;
text-align: left;
padding: 16px 32px;
border: none;
}
.mail_input2{
    display: flex;
}
.foot1{
    display: flex;
    flex-direction: row-reverse;
    width: 88.6%;
    justify-content: space-between;
}
.foot_icons{
    display: flex;
    align-items: center;
}
.foot_icons img{
    margin-left: 24px;
}
.foot{
    display: flex;
    justify-content: space-between;
    width: 88.6%;
}
.products h1{
    display: none;
}
.quantity1{
    display: none;
}